@(pair: CurrencyPair)(implicit content: Html = Html(""))
@layout("Spreads", "spreads") {
    <script src="@routes.Assets.at("javascripts/spreads.js")"></script>
    <div class="page-header">
        <h1>@{pair.primary} / @{pair.secondary}</h1>
    </div>
    <table class="table table-hover" ng-controller="SpreadsController">
        <thead>
            <tr>
                <td></td>
                <td>Last price</td>
                <td>Bid</td>
                <td>Size</td>
                <td>Size</td>
                <td>Ask</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="exchange in exchanges">
                <td>{{exchange}}</td>
                <td>{{marketSpreads[exchange]["@{pair.primary}"]["@{pair.secondary}"] | number: 8}}</td>
            </tr>
        </tbody>
    </table>
}