@layout("Hello Play Akka Angular WebSocket", "app") {
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-12">
      <h1>
        Bitcoin markets
      </h1>
    </div>

    <button class="btn btn-primary col-sm-4 col-sm-offset-1">Start</button>
  </div>
</div>
}
